
body{
    margin:0;
}
header {
    text-align: center;
    background-color: rgb(139, 7, 7);
    color: azure;
    padding: 15px 10px;
}

header h1 {
    margin: 0;
    font-size: 30px;
}

header p {
    margin-top: 8px;
    font-size: 20px;
    color: #fff3f0;
}


.container-reser {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}


.reser-form {
background-color: rgb(249, 220, 207);
    padding: 30px;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: left; 
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}


.input-group input,
.input-group select,
.input-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1em;
    box-sizing: border-box;
    background-color: #fff7f0; 
    transition: 0.3s;
}

.input-group input:focus,
.input-group select:focus,
.input-group textarea:focus {
    border-color: #ff7e5f;
    box-shadow: 0 0 5px rgba(255, 126, 95, 0.5);
    outline: none;
}


.row {
    display: flex;
    gap: 15px;
}

.row .input-group {
    width: 50%;
}


.btn-confirm {
    width: 100%;
    background-color: #ff7e5f;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size:18px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-confirm:hover {
    background: #ffb86f;
    transform: translateY(-2px);
}


.back-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #666;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.back-link:hover {
    color: #ff7e5f;
    text-decoration: underline;
}
