*{
margin: 0;
padding:0;
}
 
b{
  font-size: 80px;
  color: #b71c1c;
}
p{
  color: #b71c1c;
}

img{
  width: 200px;
  height: 200px;
  border-radius:20px;
  box-shadow: 5px 8px 8px;
  margin: 0;          
}
.all{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.des{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 180px;
}
.fi{
  background-color: #c0392b;
  color: rgb(225, 232, 239);
  padding: 20px;
  border-radius: 20px;
  width: 100px;
  margin-left: 35px;
  box-shadow: 5px 8px 8px black;
  
}
header{
  position:relative;
  height:100dvh;
  margin-left: 200px; 
}
 

 .intro{
  position:relative;
  z-index:1;
  color:white;
  text-align:center;
  top:40%;
}

nav{
  background: #c0392b;
  padding:20px;
  width: 200px;              
  height: 100vh;             
  display:flex;
  flex-direction: column;    
  gap:20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
 
nav a{
  color: aliceblue;
  border-radius: 15px;
  padding:15px;
  text-decoration: none;
  font-weight:bold;
  text-align: center;
}

nav a:hover{
  background: rgba(255,255,255,0.2);
}

 body {
    font-family: Arial;
    background-color: #f5f5f5;
    text-align: center;
}

h1 {
    background-color: #b71c1c;
    color: white;
    padding: 15px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.plat {
    background: white;
    width: 220px;
    border-radius: 60px;
    padding: 10px;
    box-shadow: 0 0  10px gray;
}

.plat img {
    width: 90%;
    border-radius: 50%;
    margin-right: 550px;
    
}

.plat span {
    color: #b71c1c;
    font-weight: bold;
}


.prix {
    display: block;
    margin-top: 12px;
    font-weight: bold;
    font-size: 1.4em;
}


.btn-reservation {
    margin-top: 12px;
    padding: 10px 18px;
    background-color: #c0392b;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-reservation:hover {
    background-color: #a93226;
    transform: scale(1.05);
}

.btn-reservation {
    text-decoration: none;
    display: block;
    margin: 10px auto;
}
  .localisation h2  {
  background-color:  #a93226;
  padding: 20px;
  color: azure;
 }


 


 
